


<div class="col1 col-lg-4">
  <h2 class="test"><%= link_to "Movies", movies_index_path %></h2>
</div>

<div class="col2 col-lg-4">
  <h2 class="test"><%= link_to "Albums", albums_index_path %></h2>
</div>

<div class="col3 col-lg-4">
  <h2 class="test"><%= link_to "Books", books_index_path %></h2>
</div>
