// * {
//   border: 1px solid pink;
// }

body {
  color: black;
}

html {
  margin: 15px;
  margin-top: 20px;
}

.col {
  margin-top: 20px;
  display: center;
}

.header {
  // color: red;
}

.header a{
  text-decoration: none;
  color: black;
}

.test {
  display: inline;

}

.test a{
  color: black;
}


.buttons-show input{
  margin-right: 5px;
  position: relative;
  float: left;
}

.buttons-above input{
  margin-bottom: 5px;

}
