// * {
//   border: 1px solid pink;
// }

body {
  color: black;
}

html {
  margin: 15px;
  margin-top: 20px;
}

.col {
  margin-top: 20px;
  margin-left: 200px;
}

.header {
  // color: red;
}

.header a{
  text-decoration: none;
  color: black;
}

.test {
  display: inline;

}

.test a{
  color: black;
}
